/* header styling */
.header {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .title img {
    height: 30px;
  }

  .title h1 {
    margin: 0;
    font-size: 30px;
  }
