.movie {
  border: 1px solid black;
  border-radius: 1px;
  align-items: center;
  padding: 5px;
  background-color: #F3FFB9;
}

.movie img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1px;
}


.movie h2 {
  font-size: 12px;
  text-align: center;
  color: #561643;
}

.movie p {
  font-size: 10px;
  color: #3C1742;
  text-align: center;
}
